header {
    background-color: #3C5200;
    color: white;
    padding: 1em;
    display: grid;
    grid: repeat(3, auto)/repeat(2, auto);
}

nav {
    grid-row: 3;
    grid-column: 1/6;
    display: none;
}

nav ul li {
    list-style-type: none;
    font-size: 2em;
    padding: .2em;
}

a.icon {
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

a {
    text-decoration: none;
    color: white;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ACC892;
    padding: 5px;
    color: #3C5200;
    grid-row: 2;
    grid-column: 1/6;
}

.logo {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 50px;
}

.title {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 1rem;
}
 
#fb {
    width: 30px;
    grid-row: 1/2;
    grid-column: 3/4;
    padding: 0;
    margin: 0px;
}

#insta {
    width: 30px;
    grid-row: 1/2;
    grid-column: 4/5;
}

.ham {
    grid-row: 1/2;
    grid-column: 5/6;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #3C5200;
    border: 1px solid #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-family: 'Lora', serif;
    color: white;
}

footer {
    background-color: #3C5200;
    color: white;
    padding: 1em;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*.top p {
    padding: 1em;} */


.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    background-color: #3C6E71;
    margin: 10px;
}

h2, h3, h4 {
    color: #ACC892;
    font-size: 1.5em;
}


#welcome {
    font-size: 2em;
    position: absolute;
    top: 0px;
    left: 50px;
    color: #3C5200;
    text-shadow: 1px 1px 1.5px #fff;
}

.hero {
    position: relative;
}

.hero img, .event img, #lake, .news img, .join img {
    width: 100%;
}

.join-btn {
    position: absolute;
    bottom: 15px;
    right: 80px;
    background-color: #284B63;
    border: none;
    padding: 1em;
    color: white;
    font-size: 1em;
    width: 50%;
}

.join-btn:hover, .button2:hover{
    background-color: #ACC892;
    color: #284B63;
}

a:hover {
    color: #ACC892;
}

.button2 {
    background-color: #284B63;
    border: none;
    padding: 1em;
    color: white;
    font-size: 1em;
}

.weather p {
    font-size: 1.5rem;
}

.weather figcaption {
    color: #fff;
}

/* ---------- Form ----------- */

form {
    margin: 3rem 0;
    border: 5px dotted #3C6E71;
    border-radius: 10px;
    padding: 1rem 10%;
    padding-right: 15%;
}

form label.topform, form label.radioform {
    display: block;
    padding-top: 1.5rem;
    color: #3C6E71;
    font-size: 1.5rem;
}

form label.topform input, form label.topform select {
    display: block;
    font-size: 1rem;
    border: 1px solid #284B63;
    border-radius: 4px;
    padding: .8rem;
    color: #284B63;
    width: 100%;
    max-width: 20rem;
    background-color: lightgrey;
}

form label.radioform {
    display: block;
    padding: .8rem;
    color: #284B63;
}

form input.formbutton {
    border: none;
    background-color: #284B63;
    color: #fff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

/* ---------- Directory Cards ----------- */

body {
    text-align: center;
}

.menu button {
    background-color: #284B63;
    border: none;
    color: white;
    font-size: 4em;
}

.menu button:hover {
    background-color: #ACC892;
    color: #284B63;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 5px 5px 20px black;
}

.grid section {
	text-align: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section:nth-child(even) {
	background-color: #3C6E7199;

}

.contact {
    color: #284B63;
}




